.select-lang-admin-header-index-search {
    cursor: pointer;
    display: inline-block;
    transition: all .3s;
    height: 100%;
}

.select-lang-admin-header-index-search-icon{
    font-size: 25px !important
}