.search-page-header {
    background: #fff;
    border-bottom: 1px solid #d8e5ef;
    height: 70px;
    line-height: 70px;
}

.search-page-header-iteam {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px!important;
    padding-top: 15px;
    padding-right: 30px;
}

.search-page-header-iteam .search-page-header-iteam-message {
    font-size: 23px;
    line-height: 23px;
}

.search-page-header-iteam .search-page-header-iteam-sub-message {
    font-size: 13px;
    line-height: 22px;
}

.search-page-header-fix {
    position: fixed;
    background: #fff;
    box-shadow: 0 1px 2px 2px rgba(55,56,72,.04);
    width: 100%;
    right: 0;
}


@media (min-width: 544px){
    .search-page-header-iteam{
        max-width: 576px;
    }
}


@media (min-width: 768px){
    .search-page-header-iteam{
        max-width: 720px;
   }
}

@media (min-width: 992px){
    .search-page-header-iteam{
        max-width: 930px;
       }
}